body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    max-height: 50px; 
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #555;
    color: #fff;
    width: 200px;
    height: 100vh;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #777;
}

.main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}

tr:nth-child(even) {
    background-color: rgb(208, 213, 199);
}

tr:hover {
    background-color: #e0e0e0;
}

tbody tr:nth-child(even) {
    background-color: #f0c8c8; 
}

tbody tr:nth-child(odd) {
    background-color: rgb(154, 103, 103);
}